<!DOCTYPE html>
<html>
<head>
    <title>PANDA 🐼 | Dwarka AI</title>
</head>
<body>
    <h2>🐼 PANDA – Your AI Study Buddy</h2>

    <form method="POST">
        <input type="text" name="message" placeholder="Ask anything OR type PDF name" required>
        <button type="submit">Send</button>
    </form>

    <hr>

    {% if msg.role == "user" %}
<p><b>You:</b> {{ msg.content }}</p>
{% else %}
<p><b>Panda 🐼:</b> {{ msg.content }}</p>
{% endif %}


    <br>
    <a href="/logout">Logout</a>
</body>
</html>
